@model ClipWithCommentsViewModel
@{

    Layout = "_Layout";
}

<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                    <p class="title">@Model.Title</p>
                    <p class="subtitle">From @Model.ContentCreator on @Model.ContentPlatform</p>
                    <div class="content">
                        <audio class="js-player" controls>
                            <source src="~/clips/@Model.FileName" type="audio/mp3" />
                        </audio>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

@if (SignInManager.IsSignedIn(User))
{
    <partial name="_NewComment" />
}

@if (Model.Comments.Count() > 0)
{

    @foreach (var comment in Model.Comments)
    {
        <article class="message">
            <div class="message-header">
                <p>@comment.UserName - @comment.PostedAt.ToShortDateString()</p>
            </div>
            <div class="message-body is-size-5">
                @comment.Message
            </div>
        </article>
    }

}

<script src="https://cdn.plyr.io/3.5.2/plyr.js"></script>
<script>
    const players = Array.from(document.querySelectorAll('.js-player')).map(p => new Plyr(p,
        {
            'volume': '0.5'
        }));
</script>