@model NotificationsViewModel
    
<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="UpdateNotifications" asp-controller="Settings" method="post">
    <input type="hidden" asp-for="Id" />
    <table class="table table-sm table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col">Notifications</th>
                <th scope="col">Device</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">New Follower</td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.NewFollowerDevice" />
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.NewFollowerEmail" />
                </td>
            </tr>
            <tr>
                <td scope="row">Repost Of Your Clip</td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.RepostOfPostDevice" />
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.RepostOfPostEmail" />
                </td>
            </tr>
            <tr>
                <td scope="row">New Clip By Followed Member</td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.NewPostByFollowedUserDevice" />
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.NewPostByFollowedUserEmail" />
                </td>
            </tr>
            <tr>
                <td scope="row">Thumbs Up On Your Clip</td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.LikeOnYourPostDevice" />
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.LikeOnYourPostEmail" />
                </td>
            </tr>
            <tr>
                <td scope="row">Comment On Your Clip</td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.CommentOnYourPostDevice" />
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.CommentOnYourPostEmail" />
                </td>
            </tr>
            <tr>
                <td scope="row">Suggested Content</td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.SuggestedContentDevice" />
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.SuggestedContentEmail" />
                </td>
            </tr>
            <tr>
                <td scope="row">New Message</td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.NewMessageDevice" />
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.NewMessageEmail" />
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col">Updates from StreamerAudio</th>
                <th scope="col">Device</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">New StreamerAudio Feature</td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.NewFeatureDevice" />
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.NewFeatureEmail" />
                </td>
            </tr>
            <tr>
                <td scope="row">Survey / Feedback</td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.SurveyAndFeedbackDevice" />
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.SurveyAndFeedbackEmail" />
                </td>
            </tr>
            <tr>
                <td scope="row">StreamerAudio Tips &Aacute; Offers</td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.TipsAndOffersDevice" />
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.TipsAndOffersEmail" />
                </td>
            </tr>
            <tr>
                <td scope="row">StreamerAudio Newsletter</td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.NewsLetterDevice" />
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" asp-for="@Model.NewsLetterEmail" />
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Update Notifications</button>
    </div>
</form>