@model ClipsViewModel

<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                @foreach (var clip in Model.Clips)
                {
                <article class="tile is-child box">
                    <p class="title"><a href="/clip/@clip.Id">@clip.Title</a></p>
                    @if (clip.ContentPlatform == ContentPlatform.Twitch)
                    {
                        <p class="subtitle">From <a href="https://www.twitch.tv/@clip.ContentCreator">@clip.ContentCreator</a></p>
                    }
                    @if (clip.ContentPlatform == ContentPlatform.Mixer)
                    {
                        <p class="subtitle">From <a href="https://mixer.com/@clip.ContentCreator">@clip.ContentCreator</a></p>
                    }
                    @if (clip.ContentPlatform == ContentPlatform.Youtube)
                    {
                        <p class="subtitle">From <a href="https://www.youtube.com/user/@clip.ContentCreator">@clip.ContentCreator</a></p>
                    }
                    <div class="content">
                        <audio class="js-player" controls>
                            <source src="@clip.FileName" type="audio/mp3" />
                        </audio>
                        <p class="subtitle">Uploaded on @clip.UploadAt.ToShortDateString() by <a href="/Profile/@clip.UploadedBy">@clip.UploadedBy</a></p>
                    </div>
                </article>
                }
            </div>
        </div>

        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                <li page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                     page-class="pagination-link" page-class-normal="pagination-link" page-class-selected="pagination-link is-current"></li>
            </ul>
        </nav>
        <script src="https://cdn.plyr.io/3.5.2/plyr.js"></script>
        <script>
            const players = Array.from(document.querySelectorAll('.js-player')).map(p => new Plyr(p,
                {
                    'volume': '0.5'
                }));

            document.addEventListener('DOMContentLoaded', () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    $notification = $delete.parentNode;
                    $delete.addEventListener('click', () => {
                        $notification.parentNode.removeChild($notification);
                    });
                });
            });
        </script>
    </div>
</div>