<!DOCTYPE html>

<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Marcus Eklund" />
    <meta name="generator" content="Visual Studio 2019" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/css/bootstrap.min.css" />
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="~/css/sticky-footer-navbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/foundation.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <style type="text/css">
        .datepicker {
            font-size: 0.875em;
        }
    </style>
    <script type="text/javascript" src="/lib/amplitudejs/amplitude.js"></script>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <a class="navbar-brand ml-2" href="/">Fixed navbar</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-2">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">Upload</a>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link text-light">Hello <a class="text-light" asp-controller="Profile" asp-action="Index" asp-route-userId="@UserManager.GetUserId(User)">@UserManager.GetUserName(User)</a>!</span>
                        </li>
                        <li class="nav-item mr-auto ml-2">
                            <a class="nav-link">
                                <span id="notification"><i class="fas fa-bell fa-lg"></i></span>
                            </a>
                        </li>
                        <li class="nav-item mr-2 ml-2">
                            <div class="dropdown">
                                <a class="nav-link dropdown" id="dropdownMenu" href="#" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                    <span id="directmessage" style="color: red;"><i class="fas fa-envelope fa-lg"></i></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg-right text-center" aria-labelledby="dropdownMenu">
                                    <h6 class="dropdown-header text-center bg-dark text-white">Messages</h6>
                                    <div class="dropdown-divider"></div>
                                    <span class="dropdown-item text-dark">No messages</span>
                                    <div class="dropdown-divider"></div>
                                    <a asp-controller="Messages" asp-action="Index" class="dropdown-item text-dark">View all messages</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown" id="dropdownMenu2" href="#" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                    <i class="fas fa-caret-square-down fa-lg"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenu2">
                                    <a class="dropdown-item text-dark" asp-controller="Settings" asp-action="Index">Account Settings</a>
                                    <a class="dropdown-item text-dark" asp-controller="Profile" asp-action="Settings">Profile Settings</a>
                                    <a id="logout" class="dropdown-item text-dark" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">Logout</a>
                                </div>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" id="register" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" id="login" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <p class="lead">@RenderBody()</p>
        </div>
    </main>
    <!-- Begin footer content -->
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
    <script type="text/javascript">
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            e.target // newly activated tab
            e.relatedTarget // previous active tab
        })
    </script>
    <script type="text/javascript">
        $('#datepicker').datepicker({
            weekStart: 1,
            daysOfWeekHighlighted: "6,0",
            autoclose: true,
            todayHighlight: true,
            orientation: "bottom left"
        });
        $('#datepicker').data({ date: new Date() });
        $('#datepicker').datepicker('update');
        $('#datepicker').datepicker().children('input');
    </script>
</body>
</html>